body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 200px; */
  background-color: beige;
}

.card{
  height: 300px;
  width: 300px;
  position: relative;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transform-style: preserve-3d;
}

.front, .back{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: absolute;
}

.front{
  background-color: cadetblue;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back{
  background-color: burlywood;
  z-index: 1;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.container:hover .card{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
} 